body {
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 0 50px;
  background-color: #080808;
  color: white;
  margin: 0;
}
.logo {
  flex: 100px;
  font-family: Brush Script MT;
  font-size: 20px;
}
nav {
  flex: 1;
  display: flex;
  justify-content: space-between;
}

 a {
  text-decoration: none;
  color: white;
}

nav a:hover {
  color: #02dac5;
}

nav a:active {
  color: #aceae3;
}

.hamburger-menu{
  display: none;
}

.welcome-section {
  margin: 0;
  padding: 60px 0 0 0;
  height: 450px;
  background-color: #080808;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.welcome-text {
  text-align: center;
  width: 500px;
  line-height: 30px;
  font-size: 17px;
}

.welcome-text span {
  color: #02dac5;
}

.social-media {
  display: flex;
  justify-content: space-around;
  width: 170px;
  padding-top: 30px;
}

.social-media .social-icon {
  width: 35px;
  height: 35px;
  /* background-color: white; */
  border: 1px solid white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 2s, color 1s;
}

.social-icon:hover{
  border: 1px solid #0a7f73;
  color: #02dac5;
  background-color: rgba(255, 255, 255, 0.299);
}

/* Services */

.services {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #131313;
  color: white;
  padding: 30px;
}

.services-title {
  text-align: center;
}

.services-title h2 {
  text-transform: uppercase;
  font-size: 10px;
  font-weight: 500;
}
.services-title span {
  color: #02dac5;
}

.services-content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
  justify-content: space-around;
  gap: 20px;
}
.service-item {
  /* flex: 1; */
  background-color: #02dac5;
  color: black;
  padding: 30px 15px 10px;
  border-radius: 6px;
}
.service-item p {
  line-height: 25px;
  font-size: 14px;
}

.service-icon{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  border: 2px solid rgba(0, 0, 0, 0.548);
}

.line {
  border-bottom: 2px solid #080808c7;
  width: 35%;
}

.black {
  background-color: #262626;
  color: white;
  border: 1px solid #0a7f73;
}

.black .line {
  border-bottom: 2px solid #0a7f73;
}

/* Projects */

.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  background-color: #131313;
  padding: 20px;
}

.projects-title {
  text-align: center;
}

.projects-title h2 {
  text-transform: uppercase;
  font-size: 10px;
  font-weight: 500;
}

.projects-title span {
  color: #02dac5;
}

.projects-content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.projects-item {
  display: flex;
  flex-direction: column;
  margin: 20px;
}

.project-image {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  border: 1px solid #0a7f73;
  border-radius: 6px;
  padding: 20px 0;
  background-color: #262626;
}

.project-image img {
  width: 100%;
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  aspect-ratio: 9/9;
}

.project-description h3 {
  font-size: 15px;
  font-weight: 700;
}

.project-description p {
  font-size: 12px;
  font-weight: 500;
}

/* About me */

.about-me-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #080808;
  color: white;
  padding: 30px;
}

.about-me-title {
  text-align: center;
}

.about-me-title h2 {
  text-transform: uppercase;
  font-size: 10px;
  font-weight: 500;
}

.about-me-title span {
  color: #02dac5;
}

.about-me-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  padding: 20px;
  width: 80%;
}

.my-image {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  width: 100%;
}

.my-image img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  border-top-left-radius: 150px;
  border-bottom-right-radius: 150px;
  transition: opacity 1s;
}

.my-image img:hover{
  opacity: 0.7;
}

.about-me-description {
  font-size: 13px;
  line-height: 20px;
}

button{
  background-color: #02dac5;
  padding: 10px 25px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: opacity 1s;
  margin-top: 25px;
}

button:hover{
  opacity: 0.5;
}

/* Contact */

.contact-me-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #131313;
  color: white;
  padding: 30px;
}

.contact-me-title {
  text-align: center;
}

.contact-me-title h2 {
  text-transform: uppercase;
  font-size: 10px;
  font-weight: 500;
}

.contact-me-title span {
  color: #02dac5;
}

.contact-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: #262626;
  padding: 30px;
  border-radius: 7px;
  gap: 50px;
  margin: 30px;
}

.contact-me,
.contact-me-social {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.contact-content h3 {
  padding: 0;
  margin: 0;
}
.contact-me span {
  color: #02dac5;
}

.contact-me-social {
  align-items: flex-end;
}

.phone,
.email,
.linkedin,
.github {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.contact-content .line {
  padding-top: 10px;
  border-bottom: 2px solid #0a7f73;
}


/* Media Query */

.dropdown-menu{
  visibility: hidden;
  color: white;
  background-color: #262626f2;
  padding: 100px;
  position: fixed;
  top: 60px;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.dropdown-menu.open{
  visibility: visible;
  
}


@media (max-width: 750px){
  .services-content, .projects-content{
    grid-template-columns: 1fr 1fr;
  }
  .about-me-content{
    display: flex;
    flex-direction: column;
  }
  .welcome-text p{
    flex-wrap: wrap;
  }
  nav{
    display: none;
  }
  .hamburger-menu{
    display: block;
  }
}

@media (max-width: 575px){
  .services-content, .projects-content {
    grid-template-columns: 1fr;
    width: 80%;
  }
  nav{
    display: none;
  }
  .hamburger-menu{
    display: block;
  }
}

@media (max-width: 450px){
  .services-content, .projects-content{
    width: 100%;
  }
  .my-image{
    display: none;
  }
  nav{
    display: none;
  }
  .hamburger-menu{
    display: block;
  }

  .contact-content{
    grid-template-columns: 1fr;
  }
}